:root {
    --fuente: font-family: 'Nunito', sans-serif;
    --background: #fefffc;
    --background-cards: #8E9BAF;
    --background-cards-: #8E9BAF;
    --background-button: #2A374F;
    --background-button-hover: #4192D9;
    --letter-white: #fefffc;
    --letter-black: black;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: var(--background);
    font-family: "nunito", Arial, Helvetica, sans-serif;
}

.card {
    perspective: 1000px;
    cursor: pointer;
}


.card-frente,
.card-dorso {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    /* Oculta la cara posterior */
}

/* Estado inicial del dorso */
.card-dorso {
    transform: rotateY(180deg);
}

/* Cuando la carta tiene la clase .flipped añadida por JS */
.card.flipped .card-frente {
    transform: rotateY(180deg);
}

.card.flipped .card-dorso {
    transform: rotateY(0deg);
}